Package: qjournalctl
Version: 0.6.4-2
Section: admin
Priority: optional
Architecture: amd64
Depends: libssh (>= 0.8.7) | libssh-4 (>= 0.8.7), libqt5gui5  (>= 5.5.1)
Maintainer: Patrick Eigensatz <patrick.eigensatz@gmail.com>
Description: A Qt-based Graphical User Interface for systemd's journalctl command
